/* @override http://0.0.0.0:4000/css/style.css */

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}
html {
	height: 100%;
}
body {
	height: 100%;
	padding: 0;
	margin: 0;
	background: #fff;
}



/* @group Basics */
h1 {
	font: 900 36px/48px Bitter, Georgia, "Times New Roman", Times, serif;
	color: #b81515;
	color: ;
}
h2 {
	font:900  30px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	left: 1px;
}
h3 {
	font: 500 24px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
h4 {
	font: 500 18px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
	letter-spacing: 1px;
}
p {
	font: 200 18px/1.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
ul {
	font: 200 18px/1.9em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
a {
	font: 200 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #444;
}
a:hover {
	color: #b23636;
}

/* @end */

/* @group Buttons */
.button {
	display: inline-block;
	position: relative;
	/*height: 48px;*/
	width: ;
	margin:0;
	padding: 12px 36px;
	/*border: 2px solid rgba(255,255,255,.75);*/
	/*border-color: #b81515;*/
	background: #b81414;
	border-radius: 2px;	
	font: 100 14px/24px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 2px;
	cursor: pointer;
	text-transform: uppercase;
	text-decoration: none;	
	color: #fff;
	outline: none;
	border: none;
	/*color: #b81515;*/
}
.button:hover {
	color: #fff;
	background: #8a0f0f;
}
.button.dark {
	border-color: #000;
	color: #000;
}
.button.dark:hover {
	background: #000;
	color: #fff;
}

.button.red{
	border-color: #b81515;
	color: #b81515;
}
.button.red:hover {
	background: #b81515;
	color: #fff;
}



.button > .attention {
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	border: 1px solid rgba(178, 54, 54, 1);
	border-radius: 3px;
	-webkit-animation: buttonpulse 1.5s ease-out infinite;
	        animation: buttonpulse 1.5s ease-out infinite;
}

/* @end */

/* @group HEADER */
body > header {
	position: absolute;
	z-index: 100000;
	width: 100%;
	height: 72px;
	padding: 12px;
	text-align: center;
	/*background: rgba(0,0,0,.5);*/
}
body > header > div {
	position: relative;
	max-width: 1080px;
	margin: 0 auto;
}
body > header > div > a {
	position: absolute;
	left: 0px;
	top: 0px;
	font: 24px/36px Georgia, "Times New Roman", Times, serif;
	text-decoration: none;
	color: #fff;
}
body > header > div > a:hover {
	color: #fff;
}
body > header > div > a > img {
	height: 36px;
	vertical-align: middle;
}
body > header > div > a > span {
	vertical-align: middle;
}



body > header > div > nav {
	text-align: right;
	padding: 0 12px 0 0;
}
body > header > div > nav > p  {
	display: none;
}
body > header > div > nav > a {
	position: relative;
	font: 200 18px/48px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
	color: #fff;
	margin: 0 0 0 18px;
}
body > header > div > nav > a:hover {
	color:#b81515;
}
body > header > div > nav > a.selected {
	border-bottom: 3px solid #b81515;
}
/* @end */






/* @group BANNER */
.banner {
	position: relative;
	height: 100%;
	/*max-height: 720px;*/
	min-height: 320px;
	/*background: radial-gradient(ellipse farthest-corner, #333 12%, black 100%) #000;*/
	/*background: #221e1e;*/
	background-image: url('/images/banners/banner1.jpg');
	background-position: center bottom;
	background-size: cover;
	background-attachment: fixed;
	color: #fff;
	text-align: center;
	white-space: nowrap;
}
.content .banner.half {
	height: 50%;
	/*background-image: radial-gradient(ellipse farthest-corner, #333 24%, black 100%) #000;*/
	/*background-image: url(/images/banners/banner1.jpg);
	background-attachment: scroll;
	background-repeat: no-repeat;
	background-size: contain;*/
	
}
/*.banner.brick-boundry {
	background-image: url('/images/patterns/brick.png');
	background-attachment: scroll;
	background-repeat: repeat no-repeat;
	background-size: auto;
	background-position: bottom center;
}*/


.banner > img {
	position: absolute;
	height: 100%;
}
.banner > img.left {
	left: 0;
	top: 0;
}
.banner > img.right {
	top: 0;
	right: 0;
}
.banner:before {
	display: none;
	content: '\00a0';
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-image: radial-gradient(circle, rgba(0, 0, 0, .5) 0%, rgba(0,0,0,.75) 100%);	
}
.banner:after {
	content: '\00a0';
	display: inline-block;
	width: 0;
	height: 100%;
	vertical-align: middle;
}




/* @group HGROUP */
.banner > hgroup {
	position: relative;
	z-index: 1000;
	display: inline-block;
	width: 100%;
	max-width: 800px;
	/*margin: 0 -.25em;*/
	vertical-align: middle;
	white-space: normal;
	text-align: center;
}
.banner > hgroup > img {
	max-width: 120px;
	margin: 0 auto 24px auto;
}
.banner > hgroup > h1 {
	margin: 0px 0 0 0;
	font: 100 36px/60px Bitter, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 3px;
	/*text-shadow: 0 1px 6px rgba(0,0,0,.5);*/
	text-transform: uppercase;
	color: #fff;
	text-align: center;
}
.banner > hgroup > h1 > span {
	margin: 0 0 -.25em 0;
	padding: 0;
	display: block;
	font: 500 90px/96px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
.banner > hgroup > h2 {
	margin: 0 0 48px 0;
	font: 200 20px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
	color: rgba(255,255,255,1);
}
/* @end */
/* @end */


/* @group CONTENT */
.content {
	position: relative;
	height: 100%;
	/*overflow: scroll;*/
}
.content > div {
	/*height: 100%;*/
	min-height: 100%;
	/*max-width: 720px;*/
	margin: 0 auto;
	padding: 0;
	overflow: hidden;
}
.content section {
	max-width: 1080px;
	margin: 0 auto;	
	padding: 48px 0;
}


/* @end */




/* @group Services */
.services {
	padding: 96px 0;
	background: #fff;
	text-align: center;
	overflow: hidden;
	background: #e5e5e5;
}
.services > h2 {
	margin: 0 0 36px;
	font: 900 36px/48px Bitter, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #000;
	text-transform: uppercase;
	letter-spacing: 2px;
}
.services > ul {
	/*background: #f16;*/
	max-width: 1080px;
	margin: 0 auto;
	padding: 0;
	list-style: none;
}
.services > ul > li {
	float: left;
	width: 25%;
}
.services > ul > li > img {
	display: inline-block;
	width: 100%;
	max-width: 200px;
	height: 200px;
	margin: 0 0 24px;
	border-radius: 200px;
	border: 3px solid #fff;
	background: #ccc;
}
.services > ul > li > h3 {
	font: 200 18px/24px Bitter, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
}
/* @end */






/* @group Alternating */
.alternating {
	padding: 0;
	padding-bottom: 0!important;
}
.alternating > div {
	position: relative;
	/*overflow: hidden;*/
	margin: 96px 0;
	padding: 96px 0;
	/*border-bottom: 1px solid #ccc;*/
}
.alternating > div:last-of-type {
	margin-bottom: 0;
}
.alternating > div:first-of-type {
	/*margin: 48px 0;*/
}
.alternating > div > img {
	position: absolute;
	left: 50%;
	top: 0;
	height: 100%;
	margin: 0 0 0 48px;
}

.alternating > div > hgroup {
	padding: 0 50% 0 0;
}
.alternating > div > hgroup > h2 {
	margin: 0 0 48px;
	font: 200 52px/1.0865em Bitter, Georgia, "Times New Roman", Times, serif;
}

.alternating > div > hgroup > p {
	font: 400 18px/1.45em "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	margin: 0 0 36px 0;
	/*float: left;*/
	/*width: 60%;*/
	clear: left;
}


.alternating > div:nth-of-type(even) > hgroup {
	padding: 0 0 0 50%;
}
.alternating > div:nth-of-type(even) > img  {
	left: auto;
	right: 50%;
	margin: 0 48px 0 0;
}
.alternating > div:nth-of-type(even) > h2 {
	float: right;
}
.alternating > div:nth-of-type(even) > p {
	float: right;
	clear: right;
}
/* @end */






/* @group Overlay */
.overlay {
	position: fixed;
	z-index: 100000000000;
	width: 100%;
	height: 100%;
	left: 300%;
	top: 0;
	padding: 48px;
	background: rgba(0,0,0,.75);
	text-align: center;
	white-space: nowrap;
}
.overlay.visible {
	left: 0;
}
.overlay > .close-overlay {
	position: absolute;
	top: 12px;
	right: 12px;
	border: 2px solid #fff;
	border-radius: 24px;
	width: 48px;
	height: 48px;
	text-align: center;
	font: 400 24px/42px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	cursor: pointer;
}
.overlay > .close-overlay:hover {
	background: #fff;
	color: #000;
}
.overlay > .close-overlay:active {
	background: #000;
	color: #fff;
}
.overlay > .video-wrapper {
	display: inline-block;
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	vertical-align: middle;
}
.overlay:after {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	/*background: red;*/
	vertical-align: middle;
}
.overlay > .video-wrapper > iframe {
	/*top: 0;
	left: 0;
	width: 100%;*/
}
/* @end */



/* @group Blog Posts */
.blogposts {
	max-width: 1080px;
	margin: 0 auto;
	padding: 96px 0px;
	list-style: none;
}
.blogposts > li {
	display: inline-block;
	width: 30%;
	margin: 0 -.25em 0 0;
	background: #fff;
	border-radius: 2px;
	/*border: 1px solid #999;*/
	/*border-top: none;*/
	vertical-align: top;
	background-size: cover;
	overflow: hidden;
}
.blogposts > li+li {
	margin-left: 5%;
}
.blogposts > li > a {
	display: block;
	padding: 48% 0 0 0;
	text-decoration: none;
}
.blogposts > li > a > hgroup {
	display: block;
	padding: 18px;
	/*border-top: 3px solid #b81515;*/
	text-decoration: none;
	background: rgba(0,0,0,.65);
}
.blogposts > li > a > hgroup > .postbanner {
	height: 150px;
	margin: -24px -24px 24px -24px;
	background-color: #000;
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
}
.blogposts > li > a > hgroup > h2 {
	margin: 0 0 12px 0;
	font: 900 18px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #b81515;
	color: #b81515;
}
.blogposts > li > a > hgroup > h3 {
	font: 400 11px/14px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
	font-style: italic;
}
.blogposts > li > a > hgroup > p {
	height: 48px;
	padding: 0;
	overflow: hidden;
	font:200  16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #fff;
	letter-spacing: 1px;
	text-overflow: ellipsis;
}
/* @end */





/* @group FAQ */
.faq {
	
}
.faq > section {
	max-width: 720px;
}
.faq > section > h2 {
	position: relative;
	padding: 0 0 0px 48px;
}
.faq > section > h2:before {
	content: 'Q.';
	position: absolute;
	left: 0;
	display: inline-block;
	/*background: #b81515;*/
	color: #b81515;
	margin: 0 12px 0 0;
	/*padding: 12px;*/
	vertical-align: middle;
}
.faq > section > p {
	position: relative;
	/*left: 26px;*/
	padding: 12px 24px 12px 48px;
	/*border-left: 5px solid #b81515;*/
	background: #fff;
	overflow: hidden;
}
/*.faq > section > p:after {
	content: '\00a0';
	position: absolute;
	left: -6px;
	top: 50%;
	width: 12px;
	height: 12px;
	margin: -6px 0 0 0;
	-webkit-transform: rotate(45deg);
	background: #b81515;
	
}*/

/* @end */






/* @group Article */
article {
	max-width: 800px;
	margin: 0 auto;
	padding: 36px;
}


article > hgroup {
	margin: 72px 0 48px 0;
	text-align: center;
}
article > h1 {
	margin: 36px 0;
}
article > h2 {
	margin: 36px 0;
}
article > p+h3  {
	margin: 72px 0 0 0;
}


article > blockquote > p {
	margin: 72px 0;
	text-align: center;
	font-size: 24px;
	line-height: 36px;
	font-weight: 400;
	letter-spacing: 1px;
	color: #b23636;
}

article p {
	margin: 0 0 36px 0;
	font-size: 20px;
	overflow: hidden;
}
article p > img {
	width: 100%;
	/*margin: -36px 0 0 0;*/
}
article > h3+p {
	margin: 0 0 36px 0;
}
article > p:first-of-type:first-letter { 
	float: left; 
	color: #b23636; 
	font-size: 96px; 
	line-height: 60px; 
	vertical-align: top;
	padding-top: 12px; 
	padding-right: 12px; 
	padding-left: 3px; 
	font-family: Georgia; 
}
article > hr {
	height: 48px;
	border: none;
	border-top: 1px dotted #ccc;
}


article > ul {
	padding: 0 0 0 24px;
}
article > ul > li{
	margin: 36px 0;
	/*padding: 50px;*/
	font-size: 20px;
}
/* @end */






/* @group Main Gallery */
.main-gallery {
	height: 100%;
}

.main-gallery .gallery-cell {
	width: 100%;
	height: 100%;
	text-align: center;
	background-position: center;
	background-size: contain;
	background-repeat: no-repeat;
	background: #91d5d3;
	background: #fff;
	white-space: nowrap;
}
.main-gallery .gallery-cell.first-cell {
	/*width: 100%;*/
}
.main-gallery .gallery-cell:before {
	content: '\00a0';
	display: inline-block;
	width: 0px;
	height: 100%;
	margin: 0 -.25em 0 0;
	/*background: #f16;*/
	vertical-align: middle;
}
.main-gallery .gallery-cell > img {
	max-height: 100%;
	max-width: 100%;
	vertical-align: middle;
}
.main-gallery .gallery-cell > hgroup {
	display: inline-block;
	vertical-align: middle;
	width: 100%;
	max-width: 960px;
}
.main-gallery .gallery-cell > hgroup > h1 {
	color: #fff;
	margin: 0 0 24px 0;
	text-shadow: none;
}
/* position dots in gallery */
.main-gallery .flickity-page-dots {
  bottom: 24px;
}
/* white circles */
.main-gallery .flickity-page-dots .dot {
  width: 12px;
  height: 12px;
  opacity: 1;
  background: transparent;
  border: 2px solid white;
}
/* fill-in selected dot */
.main-gallery .flickity-page-dots .dot.is-selected {
  background: white;
}
/* @end */


/* @group CTA */

.cta {
	padding: 96px 0;
	background: #e5e5e5;
}
.cta > h2 {
	text-align: center;
	color: #b81414;
	font: 900 36px/48px Bitter, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 2px;
}
.cta > h3 {
	max-width: 430px;
	margin: 0 auto 24px auto;
	text-align: center;
	font: 200 24px/36px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #666;
}
.cta > form {
	max-width: 320px;
	margin: 0 auto;
}
.cta > form {
	
}
.cta > form > p {
	
}
.cta > form > p > br {
	display: none;
}
.cta > form > p > label {
	display: block;
	margin: 24px 0 0 0;
	font: 700 14px/18px Bitter, "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
}
.cta > form > p > input,
.cta > form > p > textarea {
	display: block;
	width: 100%;
	height: 48px;
	border: 2px solid #444;
	border-radius: 2px;
	padding: 0 12px;
	font: 400 16px/24px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 1px;
	outline: none;
}
.cta > form > p > input:focus {
	border: 2px solid #b81414;
}
.cta > form > p > textarea {
	height: 150px;
	padding: 12px;
}
.cta > form > p > button {
	width: 100%;
	margin: 12px 0 0 0;
}
/* @end */

/* @group FOOTER */
footer {
	/*position: absolute;*/
	width: 100%;
	bottom: 0px;
	left: 0;
	padding: 48px 24px;
	background: #221e1e;
	text-align: center;
	overflow: hidden;
}
footer > div {
	max-width: 1080px;
	margin: 0 auto;
}
footer > div > a {
	display: block;
	width: 100%;
	max-width: 320px;
	margin: 0 auto;
	text-decoration: none;
}
footer > div > a > img {
	width: 100%;
	max-width: 72px;
}
footer > div > a > span {
	display: block;
	margin: 0 0 12px 0;
	color: #fff;
	font: 100 18px/24px Georgia, "Times New Roman", Times, serif;
	letter-spacing: 2px;
}
footer > div > section {
	display: inline-block;
	margin: 0 -.25em 0 0;
	padding: 0px 0;
	/*width: 33.33%;*/
	font: 200 14px/30px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	color: #999;
	vertical-align: top;
	text-align: center;
}

footer > div > section.social {
	padding: 0;
	margin:  0 0 12px 0;
	
}
footer > div > section.social > a {
	padding: 0 12px;
}
footer > div > section.social > a > span {
	font-size: 30px;
	color: #fff;
}
footer > div > section.social > a:hover > span {
	color: #b81515;
}

footer > div > p {
	font: inherit;
	color: inherit;
	font:200 15px/12px "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	letter-spacing: 0px;
	color: #999;
}
footer > div > p > span {
	display: inline-block;
	margin: 0 0 6px 0;
	padding: 12px;
	font-size: 16px;
	font-weight: 200;
	letter-spacing: 1px;
	color: #fff;
}


footer > div > nav {
	margin: 0 0 36px;
}
footer > div > nav > a {
	padding: 0 12px;
	font: 100  "Helvetica Neue", Arial, Helvetica, Geneva, sans-serif;
	text-decoration: none;
}
footer > div > nav > a:hover {
	color: #b81515;
}
/* @end */










@media all and (max-width: 720px) {

.blogposts {
	padding: 48px;
}
.blogposts > li {
	max-width: 45%;	
}
.blogposts > li+li {
	margin: 0 -.25em 0 10%;
}


.blogposts {
	padding: 48px;
}
.blogposts > li {
	max-width: 100%;
	margin: 0 0 48px;
}
.blogposts > li+li {
	margin: 0;
}

.services {
	background: #ffffff;
}
.services > ul {
	
}
.services > ul > li {
	float: none;
	display: inline-block;
	width: 45%;
}
.services > ul > li > img {
	width: 150px;
	height: 150px;
}


.alternating {
	padding: 0!important;
}
.alternating > div  {
	margin: 0;
	padding: 150px 0 0 0;
	border-top: 1px solid #ccc;
	background: #e5e5e5;
}
.alternating > div > img,
.alternating > div:nth-of-type(even) > img {	
	position: relative;
	left: 0;
	top: 0;
	display: block;
	width: 100%;
	height: auto;
	margin: 0;
}
.alternating > div > hgroup,
.alternating > div:nth-of-type(even) > hgroup {
	position: relative;
	display: block;
	padding: 24px;
	background: #fff;
}
 {
	
}
}






@media all and (max-width: 540px) {
body > header {
	
}
body > header > div > a {
	/*position: relative;*/
	display: block;
}
body > header > div > a > span {
	display: none;
}
body > header > div > nav {
	display: block;
}



.banner {
	height: auto;
}
.banner::after {
	display: none;
}
.banner > img {
	height: auto;
	max-width: 50%;
	max-height: 100%;
	opacity: .5;
}
.banner > hgroup {
	padding: 96px 24px;
	text-shadow: 0 1px 5px rgba(0,0,0,.5);
}
.banner > hgroup > img {
	max-width: 120px;
	margin: 0 0 24px 0;
}
.banner > hgroup > h1 {
	margin: 0 0 0px 0;
	font-size: 24px;
}
.banner > hgroup > h2 {
	display: inline-block;
	margin: 0;
	color: #fff;
	font-size: 16px;
}
.banner > hgroup > .button {
	display: none;
}
.process {
	padding: 30px;
}
.process > div {
	width: 33%;
	margin: 0 0 12px 0;
}
.process > div > img {
	max-width: 72px;
}



.measure > .image {
	width: 50%;
}
.measure > .image > h3 {
	
}
/*.measure > form {
	width: 50%;
	padding: 36px 0;
	text-align: left;
}*/
.measure > form > label {
	
}

.thank-you > ul > li {
	position: relative;
	/*padding-bottom: 150px;*/
}

.thank-you > ul > li > hgroup {
	width: 100%;
	padding: 0 24px 0 0;
}
.thank-you > ul > li > section {
	display: none;
}
.thank-you > ul > li > section.mailing-address,
.thank-you > ul > li > section.order-number {
	display: block;
	width: 320px;
	margin: 48px auto 24px auto;
}
.thank-you > ul > li > section > img {
	width: auto;
	height: 100%;
}







}





