<html>
	<head>
		<meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="description" content=""/>
        <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1">
        
        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/style.css">
        <link href='https://fonts.googleapis.com/css?family=Graduate|Bitter:400,400italic,700' rel='stylesheet' type='text/css'>
		
		<!-- load js scripts -->
		<script type="text/javascript" src="/scripts/querytolocalstore.js"></script>
		<script type="text/javascript" src="/scripts/jquery-1.11.3.min.js"></script>
		<meta name="google-site-verification" content="_bzOAzbD8nsuzsWusL7FYMRRuL4Pf4_0Ih8Yv5fKvCg" />
	</head>
	<body>
		{% include header.html %}
		<div class="content">
			<div>
				{{ content }}
			</div>
			{% include footer.html %}
		</div>
	</body>
</html>